# Eclipse
/.classpath
/.project
/.settings

# IntelliJ
.idea/
*.iml

/.factorypath

# Maven
target/

# STS
.springBeans

# exclude jar for maven wrapper
!.mvn/wrapper/maven-wrapper.jar`

build-info.properties

.DS_Store

.terraform/